
<%- include('../shared/includes/head', {pageTitle: 'All Clients'})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include('../shared/includes/header')%>
<main>
</main>

<%- include('../shared/includes/footer')%>


