<%- include('../shared/includes/head', {pageTitle: 'Agents info'})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/policies.css">

</head>
<body>
<%- include('../shared/includes/header')%>

  </main>
<%- include('../shared/includes/footer')%>
