<!DOCTYPE html>
<html lang="mk">
<head>
  <%- include('../../../../shared/includes/head', {pageTitle: 'Договор за дар на недвижен имот'})%>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <link rel="stylesheet" href="/styles/documents.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/scripts/templates/gift-agreement.js" defer></script>

</head>
<body>
  <main>
    <div style="display: grid; grid-template-columns: 1fr 2fr;">

    <div class="standard-template">
      <form class="generate-gift-agreement-doc" action="/generate-gift-agreement-doc" method="POST">
        <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
        <input type="text" name="givingParty" placeholder="Име на дарувачот" id="givingParty" required>
        <input type="text" name="givingPartyAddress" placeholder="Адреса на дарувачот" id="givingPartyAddress" required>
        <input type="text" name="givingPartyPIN" placeholder="ЕМБГ на дарувачот" id="givingPartyPIN" required>
        
        <input type="text" name="receivingParty" placeholder="Име на даропримачот" id="receivingParty" required>
        <input type="text" name="receivingPartyAddress" placeholder="Адреса на даропримачот" id="receivingPartyAddress" required>
        <input type="text" name="receivingPartyPIN" placeholder="ЕМБГ на даропримачот" id="receivingPartyPIN" required>

        <input type="text" name="propertyLocationTown" placeholder="Место на имотот" id="propertyLocationTown" required>
        <input type="date" name="agreementDate" placeholder="Датум на договорот" id="agreementDate" required>

        <input type="text" name="propertySheetNumber" placeholder="Имотен лист број" id="propertySheetNumber" required>
        <input type="text" name="cadasterMunicipality" placeholder="Катастарска општина" id="cadasterMunicipality" required>
        <input type="text" name="typeOfProperty" placeholder="Тип на имот" id="typeOfProperty" required>
        <input type="text" name="parcelNumber" placeholder="Број на парцела" id="parcelNumber" required>
        <input type="text" name="propertyAddress" placeholder="Адреса на имотот" id="propertyAddress" required>
        <input type="text" name="buildingNumber" placeholder="Број на зграда" id="buildingNumber" required>
        <input type="text" name="buildingType" placeholder="Намена на зграда" id="buildingType" required>
        <input type="text" name="entranceNumber" placeholder="Број на влез" id="entranceNumber" required>
        <input type="text" name="floor" placeholder="Кат" id="floor" required>
        <input type="text" name="size" placeholder="Површина во м2" id="size" required>
        <button type="submit" id="generateButton">Генерирај</button>
      </form>
      </div>
      <div class="presentation-column">
        <p>Визуелна презентација на содржината.</p>
      </div>
    </div>

    </div>
  </main>
  <%- include('../../../../shared/includes/footer')%>
</body>
</html>
