<form action="/update-client/<%=client._id%>"  method="POST" id="updateClientData">
    <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
    <button class="btn"> Change </button>
    <main>
</form>