<header id="main-header">

  <nav><%- include('nav-items') %></nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<div id="top-header-bar">
  <div style="margin-top: 0.5rem;">
    <h2 style="margin-top: 5px;"><a href="/" style="font-style: italic; margin-top: -5px; font-size: 1.4rem; margin-left: 2.2rem; ">NeXa Terminal</a></h2>
  </div>
  <div class="container">
    <div class="dropdown">
      <span style="color: var( --color-secondary)">
        <i class="fas fa-user" style="font-style: normal">
          <%= typeof clientName !== 'undefined' && clientName ? clientName : ""
          %>
        </i>
      </span>
      <div class="dropdown-content" style="width: 1000px;">
        <a href="/settings">Профил</a>
        <a href="/plan">Претплата</a>
        <form id="nav-form" action="/logout" method="GET">
          <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>" />
          <button id="logout">Одјава</button>
        </form>
      </div>
    </div>
  </div>
</div>

<aside id="mobile-menu">
  <nav><%- include('nav-items') %></nav>
</aside>
