<link rel="stylesheet" href="/styles/dashboard.css">
<script src="/scripts/dashboard.js" defer></script>

<ul class="nav-items">
  <% if (locals.isAuth) { %>
    <!-- <div id="logo" style=" text-align: center;">
      <a href="/" style="font-style: italic; margin-top: -2rem;">NeXa Law</a>
    </div> -->
    <div class="nav-section">
      <p class="nav-title">Документи</p>
      <ul class="dropdown-menu">
        <li><a href="/documents">Сите теркови</a></li>
        <li><a href="/my-documents">Мои теркови 🔒</a></li>
      </ul>
    </div>

    <!-- <div class="nav-section">
      <p class="nav-title">Спроведи сам</p>
      <ul class="dropdown-menu">
        <li><a href="/legal-updates">Трговска марка</a></li>
        <li><a href="/legal-updates">Дозвола за престој на странец</a></li>
        <li><a href="/my-documents">Централен регистар</a></li>
      </ul>
    </div> -->
    <p>_____________________</p>
    <div class="nav-section">
      <p class="nav-title">Усогласеност</p>
      <ul class="dropdown-menu">
        <li><a href="/lhc">Скрининг за работни односи</a></li>
        <li><a href="/lhc">Скрининг за лични податоци</a></li>
        <li><a href="/lhc">Скрининг за БЗР</a></li>
        <li><a href="/lhc">Скрининг за регулатива трговија</a></li>
        <li><a href="/lhc">Скрининг за даночна усогласеност</a></li>

      </ul>
    </div>
    <p>_____________________</p>
    <div class="nav-section">
      <p class="nav-title">Консултации 🔒</p>
      <ul class="dropdown-menu">
        <li><a href="/legal-updates">за посебно правно прашање</a></li>
      </ul>
    </div>
    <p>_____________________</p>
    <div class="nav-section">
      <p class="nav-title">Правни теми</p>
      <ul class="dropdown-menu">
        <li><a href="/legal-updates">NeXa AI</a></li>
      </ul>
    </div>
    <p>_____________________</p>
    <div class="nav-section">
      <p class="nav-title">Едукација 🔒</p>
      <ul class="dropdown-menu">
        <li><a href="/education">NeXa лекции</a></li>
        <li><a href="/webinars">Вебинари / обуки</a></li>
      </ul>
    </div>
    <p>_____________________</p>

    <div class="nav-section">
      <p class="nav-title">Информираност 🔒</p>
      <ul class="dropdown-menu">
        <li><a href="/legal-updates">Законски измени 🔒</a></li>
        <li><a href="/legal-updates">Огласи и повици 🔒</a></li>
        <li><a href="/legal-updates">Правен информатор 🔒</a></li>
        <li><a href="/legal-updates">Судски одлуки 🔒</a></li>
        <li><a href="/legal-updates">Аукции 🔒</a></li>
        <li><a href="/business-calendar">Деловен календар 🔒</a></li>
      </ul>
    </div>
    <p>_____________________</p>
<div class="nav-section">
  <p class="nav-title">Вмрежување ⏳</p>
  <ul class="dropdown-menu">
    <li><a href="/legal-updates">Извести за настан 🔒</a></li>
    <li><a href="/legal-updates">Извести за посебна понуда 🔒</a></li>
    <li><a href="/legal-updates">Побарај за производ/услуга 🔒</a></li>
    <li><a href="/legal-updates">Препорачај производ / услуга од друг 🔒</a></li>
    <li><a href="/legal-updates">Growth Club 🔒</a></li>

  </ul>
</div>

<!-- <div class="nav-section"></div>
  <p class="nav-title">Едукација</p>
  <ul class="dropdown-menu">
    <li><a href="/education">NeXa лекции</a></li>
    <li><a href="/webinars">Вебинари / обуки</a></li>
  </ul>
</div> -->
  <% } else { %>
    <li><a class="login-link" href="/login">Најава</a></li>
  <% } %>

  <% if(locals.isAdmin) { %>
    <!-- Admin-specific items -->
  <% } %>
</ul>
