<%- include('../../shared/includes/head', {pageTitle: 'Правен скрининг'})%>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
 <%- include('../../shared/includes/header', { clientName: clientName }) %>
<main>
    <h1>Бизнис и деловен календар</h1>
    <p>Тука ќе се наведуваат сите датуми кои може да вклучуваат даночни настани (датум за поднесување на годишна, ддв пријави и сл.), огласи за мерки, огласи за повици, неработни денови и сл. (треба добро да се осмисли концептот што се објавува)</p>
</main>
    <%- include('../../shared/includes/footer')%>


