<%- include('../../shared/includes/head', {pageTitle: 'Законски измени'})%>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <%- include('../../shared/includes/header', { clientName: clientName || 'Guest' }) %>
    <main>
    <h1>Законски измени</h1>
</main>
    <%- include('../../shared/includes/footer')%>


