<%- include('../../shared/includes/head', {pageTitle: 'Правен скрининг'})%>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
 <%- include('../../shared/includes/header', { clientName: clientName }) %>
<main>
    <h1>Правен скрининг</h1>
</main>
    <%- include('../../shared/includes/footer')%>


