<%- include('../../shared/includes/head', {pageTitle: 'Законски измени'})%>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <%- include('../../shared/includes/header', { clientName: clientName || 'Guest' }) %>
    <main>
    <h1>Host webinars to our members to showcase your expertise</h1>
    <p>The users / lawyers or other will have the oportunity to share their expertise to the members by hosting 45+45min webinars on certain topic</p>
    <p>With this, they can present themself, the members will learn</p>
</main>
    <%- include('../../shared/includes/footer')%>


